@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.gray.900');
  --primary-medium: theme('colors.gray.700');
  --primary-light: theme('colors.gray.500');
  --br-primary-light: theme('colors.gray.500');

  /*--br-primary-light: theme('border.gray.500');*/
}

[data-theme='dark'] {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.fuchsia.900');
  --accent-medium: theme('colors.fuchsia.700');
  --accent-light: theme('colors.fuchsia.500');

  --primary-dark: theme('colors.white');
  --primary-medium: theme('colors.gray.300');
  --primary-light: theme('colors.gray.100');
  --br-primary-light: theme('colors.gray.100');
}

[data-theme='emerald'] {
  --background: theme('colors.emerald.900');
  --background-secondary: theme('colors.emerald.800');

  --accent-dark: theme('colors.emerald.900');
  --accent-medium: theme('colors.emerald.700');
  --accent-light: theme('colors.emerald.500');

  --primary-dark: theme('colors.pink.500');
  --primary-medium: theme('colors.emerald.300');
  --primary-light: theme('colors.emerald.100');

  /*--br-primary-light: theme('border.emerald.100');*/

}

[data-theme='pink'] {
  --background: theme('colors.pink.900');
  --background-secondary: theme('colors.pink.800');

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.emerald.500');
  --primary-medium: theme('colors.pink.200');
  --primary-light: theme('colors.pink.100');
  /*--br-primary-light: theme('border.pink.100');*/

}


/*[data-theme="light"] {*/
/*  !* dark theme styles go here *!*/
/*}*/

/*[data-theme="dark"] {*/
/*  !* dark theme styles go here *!*/
/*}*/

/*[data-theme="pink"] {*/
/*  !* pink theme styles go here *!*/
/*}*/

@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('../fonts/Rajdhani/Rajdhani-Bold.eot');
  src: url('../fonts/Rajdhani/Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Semi-Bold';
  src: url('../fonts/Rajdhani/Rajdhani-SemiBold.eot');
  src: url('../fonts/Rajdhani/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('../fonts/Rajdhani/Rajdhani-Medium.eot');
  src: url('../fonts/Rajdhani/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../fonts/Rajdhani/Rajdhani-Regular.eot');
  src: url('../fonts/Rajdhani/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani-Light';
  src: url('../fonts/Rajdhani/Rajdhani-Light.eot');
  src: url('../fonts/Rajdhani/Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rajdhani/Rajdhani-Light.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Light.woff2') format('woff2'),
  url('../fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


.rajdhani-bold {
  font-family: Rajdhani-Bold, serif;
}

.rajdhani-semi-bold {
  font-family: Rajdhani-Semi-Bold, serif;
}

.rajdhani-medium {
  font-family: Rajdhani-Medium, serif;
}

.rajdhani-regular {
  font-family: Rajdhani-Regular, serif;
}

.rajdhani-light {
  font-family: Rajdhani-Light, serif;
}

/*h1, h2, h3, h4, h5, h6{*/
/*  font-family: Rajdhani-Semi-Bold, serif;*/
/*}*/


html {
  min-width: 360px;
  scroll-behavior: smooth;

}

/*body {*/

/*}*/

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
  /*background-color: #000000;*/
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");*/
  /*background-attachment: fixed;*/
  /*background-size: cover;*/
}
/*#scr{*/
/*  background-color: #000000;*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*}*/

/*#scr2{*/
/*  background-color: #000000;*/
/*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*}*/
@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg bg-gray-100 dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

pre, code {
  white-space: pre !important;
  overflow-x: scroll !important;
}

.hljs {
  white-space: pre !important;
  overflow-x: auto !important;
}
